*{
	margin:0;
	padding:0;
}
body{
	width:100%;
	height:100%;
	display: block;
	background: black;
	background: url('../images/bureau.jpg') fixed;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    background-repeat: no-repeat;
    font-family: calibri;
    color:white;
}
a{
	color:#428bca;
	text-decoration: none;
}
a:hover{
	color:#ED4040;	
}
li{
	list-style-type: none;
}
button{
	width: 80px;
	height: 30px;
	border:none;
	background-color:#428bca;
	color: white;
	border-radius: 2px;
	margin-top: 2%;
	cursor:pointer;
}
button:hover{
	border: 1px solid #3071a9;
	background-color: #EEEEEE;
	color: black;
		-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
#imgProfil{
	width:40px;
	height: 40px;
	text-align: center;
	overflow: hidden;
	border-radius: 100%;
	float: left;
}
#imgProfil img{
	height:  100%;
}
#menu{
	width: 250px;
	background-color: #EEEEEE;
	top: 0;
	left: 0;
	bottom: 0;
	position: fixed;
	z-index: 20;
			moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
}
#vignette{
	width: 100%;
	cursor: pointer;
}
nav {
	width: 100%;
	overflow: hidden;
}
nav a{
	display: block;
	padding: 1%;
	width:100%;
	padding : 10px;
	
}
nav li{
	text-align: center;
}
#profilMenu{
	padding:1%;
	padding-left: 27%;
	text-align: left;
	height: 40px;
}
#profilMenu span{
	display: inline-block;
	margin-left:2%;
	margin-top: 4%;
}
.container,.container2{
	width:70%;
	bottom: 0;
	margin-left: 25%;
	background-color: #EEEEEE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #9197A3;
	margin-top: 2%;
	padding:1%;
	moz-box-shadow: 10px 10px 15px 0px black;
	-webkit-box-shadow: 10px 10px 15px 0px black;
	-o-box-shadow: 10px 10px 15px 0px black;
	box-shadow: 10px 10px 15px 0px black;
}
.container span,.container2 span{
	color:#428bca;
	font-style: italic;
}
.container2{
	border-radius:0px;
	padding-bottom: 5%;
}
.modifGestion{
	float: right;
	margin-top: -5%;
}
.modifGestion select{
	height: 30px;
	border:none;
	cursor: pointer;
}
.fadein{
	display: none;
}
.load{
	border-top: 2px solid #ED4040;
	color:#ED4040;
	top:0;
	right: 0;
	left: 0;
	width: 0%;
	text-align: right;
	font-size: 2em;
}